.topbar {
  grid-area: topbar;
  display: grid;
  position: relative;
  grid-template-columns: 250px repeat(2, 1fr);
  background: var(--gray700);
  color: var(--sand500);
}

.moduleList {
  display: flex;
}

.module {
  height: 100%;

  a {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    color: var(--gray300);
    border-bottom: 2px solid var(--gray300);
    text-transform: uppercase;
    letter-spacing: 1.1px;
    text-decoration: none;
    transition: all ease .4s;

    &:hover {
      color: var(--sand500);
      border-bottom-color: var(--sand500);
      background: var(--sand900);
    }
  }
}

.activeModule {
  a {
    &:active, &:hover, &:visited, &:link {
      color: var(--sand500);
      border-bottom-color: var(--sand500);
      background: var(--sand900);
    }
  }
}
