.ability {
  display: flex;
  margin-bottom: 5rem;
  //transition: opacity ease 0.4s;

  &:nth-child(odd) {
    > div:last-child {
      margin-left: 2rem;

      > div > div {
        &:before {
          left: 0;
        }
      }
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    > div:last-child {
      margin-right: 2rem;
      text-align: right;

      > div > div {
        &:before {
          right: 0;
        }
      }
    }
  }

  &:first-child {
    margin-top: 2rem;
  }
}

.activeAbility {
  opacity: 1;
}

.inactiveAbility {
  opacity: 0.2;
}


.link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.details {
  letter-spacing: .4px;
}