.missingContentBorder {
  border-color: orangered;
}

.label {
  width: 100%;
  text-transform: uppercase;
}

.missingContent {
  transform: initial !important;
  text-align: inherit !important;
  width: 100%;
  letter-spacing: initial;
}
