.missingContentBorder {
  border-color: orangered;
}

.abilityName {
  font-size: var(--font-size-lg);
}

.label {
  position: relative;
  color: var(--gray300);
  width: 100%;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  font-weight: bold;
  opacity: .8;

  i {
    position: relative;
    background: var(--gray900);
  }
}

.missingContent {
  transform: initial !important;
  text-align: inherit !important;
  width: 100%;
  letter-spacing: initial;
}
