/* Screen size definitions
   ----------------------------------------------------------------- */
$xs-min: 320px;
$xs-max: 359px;

$small-reduced-gutter-min: 360px;
$small-reduced-gutter-max: 374px;

$sm-min: 375px;
$sm-max: 719px;

$md-min: 720px;
$md-max: 1019px;

$lg-min: 1020px;
$lg-max: 1259px;

$xl-min: 1260px;
$xl-max: 1770px;

$xxl-min: 1771px;
$xxl-max: 1919px;

$xxxl-min: 1920px;
$xxxl-max: 2539px;

$k2-min: 2540px;

/* Breakpoint media queries
   ----------------------------------------------------------------- */

/* Extra small
   - 320px devices ONLY
   - for the really rare instances where minor tweaks are needed to support iPhone 5/SE
   ----------------------------------------------------------------- */
@mixin screen-xs {
  @media (max-width: $xs-max) {
    @content;
  }
}

/* Small (slim, reduced gutter)
   - 360px devices ONLY
   - basically just reducing the gutter on the grid from 15px to 10px
   - so the 360px Android devices have the same experience as 375px iPhone devices
   ----------------------------------------------------------------- */
@mixin screen-small-slim-only {
  @media (min-width: $small-reduced-gutter-min) and (max-width: $small-reduced-gutter-max) {
    @content;
  }
}

/* Small
   - 375px devices AND DOWN
   - basically styles for all of the small screens: 320px, 360px, and 375px
   ----------------------------------------------------------------- */
@mixin screen-phone {
  @media (max-width: $sm-max) {
    @content;
  }
}

/* Medium
   - 720px devices AND UP
   ----------------------------------------------------------------- */
@mixin screen-tablet {
  @media (min-width: $md-min) {
    @content;
  }
}

/* Large
   - 1020px devices AND UP
   ----------------------------------------------------------------- */
@mixin screen-tablet-uber {
  @media (min-width: $lg-min) {
    @content;
  }
}

/* Extra Large
   - 1260px devices AND UP
   ----------------------------------------------------------------- */
@mixin screen-laptop-mini {
  @media (min-width: $xl-min) {
    @content;
  }
}

/* Extra Extra Large
   - 1440px devices AND UP
   ----------------------------------------------------------------- */
@mixin screen-laptop {
  @media (min-width: $xxl-min) {
    @content;
  }
}

/* Desktop
   - 1920px devices AND UP
   ----------------------------------------------------------------- */
@mixin screen-desktop {
  @media (min-width: $xxxl-min) {
    @content;
  }
}

/* Desktop 2k
   - 2540px devices AND UP
   ----------------------------------------------------------------- */
@mixin screen-2k {
  @media (min-width: $k2-min) {
    @content;
  }
}