html {
  --primary-color: #e6e2af;
  --secondary-color: #3e3e34;
  --pink800: #702459;

  --primary-bg: #181818;
  --secondary-bg: #212121;
  --tertiary-bg: #aaaaaa;
}

html:not(.dark) {
  --primary-color: #513C06;
  --secondary-color: #e2d4aa;
  --pink800: #702459;

  --primary-bg: #FFFAEB;
  --secondary-bg: #FCEFC7;
  --tertiary-bg: #C99A2E;
}