html {
  --sand500: #e6e2af;
  --sand900: #3e3e34;
  --pink800: #702459;

  --gray300: #aaaaaa;
  --gray700: #212121;
  --gray900: #181818;
}

html:not(.dark) {
  --sand500: #513C06;
  --sand900: #e2d4aa;
  --pink800: #702459;
  --gray300: #C99A2E;
  --gray700: #FCEFC7;
  --gray900: #FFFAEB;
}