@import '#design-system/styles/mixins/breakpoints';

.sections {
  display: grid;
  overflow: auto;
  height: calc(100% - 60px - 5.5em);

  gap: 1em 1em;


  &::-webkit-scrollbar {
    width: 8px;
    transition: var(--transition-theme);

    &-track {
      background: var(--secondary-bg);
    }

    &-thumb {
      background: var(--primary-color);
    }
  }

  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(min-content, 300px);
  grid-template-areas:
      "introduction introduction"
      "concept concept"
      "pros-and-cons pros-and-cons"
      "detrimental-map-mods detrimental-map-mods"
      "benchmarks-videos benchmarks-videos"
      "passives-tree passives-tree"
      "ascendancy-tree pantheon"
      "gear gear"
      "changelog changelog"
      "kudos kudos"
      "skills skills"
      "bandits bandits"
      "faq faq";

  @include screen-tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(min-content, 300px);
    grid-template-areas:
      "introduction concept"
      "pros-and-cons detrimental-map-mods"
      "passives-tree passives-tree"
      "ascendancy-tree pantheon"
      "gear gear"
      "changelog kudos"
      "skills bandits"
      "benchmarks-videos faq";
  }

  @include screen-laptop-mini {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(min-content, 300px);
    grid-template-areas:
      "introduction concept changelog"
      "pros-and-cons detrimental-map-mods changelog"
      "passives-tree passives-tree ascendancy-tree"
      "passives-tree passives-tree pantheon"
      "passives-tree passives-tree skills"
      "gear gear gear"
      "bandits bandits bandits"
      "benchmarks-videos kudos faq";
  }

  @include screen-laptop {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(min-content, 300px);
    grid-template-areas:
    "introduction concept pros-and-cons benchmarks-videos"
    "introduction concept detrimental-map-mods benchmarks-videos"
    "passives-tree passives-tree ascendancy-tree skills"
    "passives-tree passives-tree pantheon bandits"
    "changelog faq gear gear"
    "kudos faq gear gear";
  }

  @include screen-desktop {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(min-content, 300px) 300px 300px 300px;
    grid-template-areas:
    "introduction concept pros-and-cons benchmarks-videos passives-tree passives-tree"
    "introduction concept detrimental-map-mods benchmarks-videos passives-tree passives-tree"
    "changelog faq skills gear gear ascendancy-tree"
    "kudos faq bandits gear gear pantheon";
  }
}

.heading {
  position: relative;
  border-bottom: 1px solid var(--secondary-color)
}