.inputGroup {
  display: flex;
  align-items: flex-end;
}

.adfix {
  border-bottom: 1px solid var(--tertiary-bg);
  background: var(--secondary-color);

  svg {
    display: flex;
    width: 20px;
    height: 20px;
    path {
      stroke: var(--tertiary-bg)
    }
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid var(--primary-color);
    svg {
      path {
        stroke: var(--primary-color);
      }
    }
  }
}