.inputWrapper {
  display: flex;
  align-items: center;
  width: 324px;
  justify-self: center;

  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0.5rem;
}

.icon {
  height: 34px;
  padding-top: 3px;
  padding-left: 2px;
  border-bottom: 2px solid var(--tertiary-bg);
  background: var(--secondary-color);
  transition: all 0.4s ease;

  circle,
  path {
    transition: all 0.4s ease;
    stroke: var(--tertiary-bg);
  }
}

.iconFocused {
  height: 34px;
  padding-top: 3px;
  border-bottom: 2px solid var(--primary-color);
  background: var(--secondary-color);

  circle,
  path {
    stroke: var(--primary-color);
  }
}

.input {
  background: var(--secondary-color);
  color: var(--tertiary-bg);
  border: none;
  border-bottom: 2px solid var(--tertiary-bg);
  outline: none;
  width: 300px;
  padding-right: 58px;
  transition: all ease 0.4s;

  &::selection {
    background: var(--primary-color);
    color: var(--primary-bg);
  }

  &::placeholder {
    color: var(--tertiary-bg);
  }
}

.inputFocused {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.loader,
.clearInput {
  position: absolute;
  right: 0;
}

.clearInput {
  transition: all ease 0.2s;

  &:hover {
    background: var(--secondary-bg);
  }
}
