.heading {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
}

.titleWrapper {
  display: flex;
}

.author {
  color: var(--tertiary-bg);
}

.input {
  min-width: 250px;
  font-weight: var(--font-weight-bolder);
}

.separator {
  display: flex;
  align-items: flex-end;
  color: var(--tertiary-bg)
}

.activeInput {
  color: var(--tertiary-bg)
}

.link {
  &:visited,
  &:hover,
  &:link,
  &:active {
    color: var(--tertiary-bg);
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }

  &:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.active {
  &:visited,
  &:hover,
  &:link,
  &:active {
    color: var(--primary-color);
  }
}
