.container {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  padding: 1em;
  max-height: 1000px;
  //max-width: 400px;
  background: var(--primary-bg);
  border: 1px solid var(--secondary-color);
  color: var(--primary-color);
  position: relative;
  z-index: var(--z-index-100);
  min-width: 400px;
  min-height: 400px;
  transform: none;
  display: grid;
  transition: all ease .4s;
}