.heading {
  font-weight: var(--font-weight-bold);
}

.h1 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height-xl);
}

.h2 {
  font-weight: var(--font-weight-bolder);
  line-height: var(--font-line-height-2xl);
}

.h3 {
  line-height: var(--font-line-height-lg);
}

.h4 {
  line-height: var(--font-line-height-md);
}

.h5 {
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-sm);
  letter-spacing: 1.1px;
}
