.appShell {
  background: linear-gradient(90deg, var(--mantine-color-dark-7) 21px,transparent 1%) center, linear-gradient(var(--mantine-color-dark-7) 21px, transparent 1%), #eeeeee40;
  background-size: 22px 22px;
}

.header,
.navbar {
  background: color-mix(in srgb, var(--mantine-color-dimmed) 10%, transparent);
  backdrop-filter: blur(1px);
}

.headerMobile,
.navbarMobile {
  backdrop-filter: blur(50px);
}

$viewportHeight: 100vh;
$headingSpacing: var(--mantine-spacing-md);
$contentMarginBottom: var(--mantine-spacing-md);
$pageTitleHeight: 70px;
$pageTitleBottomPadding: 4px;
$headerHeight: 70px;

$height: calc($viewportHeight - $headerHeight - $pageTitleHeight - $pageTitleBottomPadding - $headingSpacing - $contentMarginBottom * 2);
$heightWithoutPageTitle: calc($viewportHeight - $headerHeight - $headingSpacing);

.mainContainer,
.mainContainerWithoutPageTitle {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;

    &-track {
      background: var(--mantine-color-dark-5);
      //border-radius: 3px;
    }

    &-thumb {
      background: var(--mantine-color-sand-2);
      //border-radius: 3px;
    }
  }
}

.mainContainer {
  height: $height;
}

.mainContainerWithoutPageTitle {
  height: $heightWithoutPageTitle
}