.main {
  background: linear-gradient(90deg, var(--mantine-color-dark-7) 21px,transparent 1%) center, linear-gradient(var(--mantine-color-dark-7) 21px, transparent 1%), #eeeeee40;
  background-size: 22px 22px;
}

.announcement {
  background: linear-gradient(to left, var(--mantine-color-dark-7), var(--mantine-color-red-9));
  color: var(--mantine-color-red-2);
  padding: 4px;
  border: 2px solid var(--mantine-color-red-4);
  border-radius: var(--mantine-radius-sm);
  position: fixed;
  z-index: 100;
  box-shadow: 0 0 10px black;
}

.contentSmallMargin {
  margin-top: 46px;
}