.main {
  background: linear-gradient(90deg, var(--mantine-color-dark-7) 21px,transparent 1%) center, linear-gradient(var(--mantine-color-dark-7) 21px, transparent 1%), #eeeeee40;
  background-size: 22px 22px;
}

.header,
.navbar {
  background: color-mix(in srgb, var(--mantine-color-dimmed) 10%, transparent);
  backdrop-filter: blur(1px);
}

.headerMobile,
.navbarMobile {
  backdrop-filter: blur(50px);
}

.header {
  box-shadow: 253px 0 10px var(--mantine-color-dark-9);
}

.headerMobile {
  box-shadow: 0 10px 10px var(--mantine-color-dark-9);
}

.headerWithoutSidebar {
  box-shadow: 0 0 10px var(--mantine-color-dark-9);
}

.navbar {
  box-shadow: 0 12px 10px var(--mantine-color-dark-9);
}