.missingContent {
  color: orangered;

  a {
    display: inline-flex;

    &:link,
    &:active,
    &:hover,
    &:visited,
    path {
      color: var(--primary-color);
      stroke: var(--primary-color);
      text-decoration: none;
    }

    &:hover span {
      border-color: var(--primary-color);
    }

    svg {
      transform: scale(0.8);
    }
  }
}
