.grid {
  height: calc(100% - 39px - 1em);
  display: grid;
  align-content: center;
  justify-content: center;
  grid-gap: 1em;
  grid-template-rows: repeat(6, 3em);
  grid-template-columns: repeat(8, 3em);
  grid-template-areas:
  "main-weapon main-weapon . helmet helmet . off-hand off-hand"
  "main-weapon main-weapon . helmet helmet . off-hand off-hand"
  "main-weapon main-weapon . body body amulet off-hand off-hand"
  "main-weapon main-weapon ring-1 body body ring-2 off-hand off-hand"
  ". gloves gloves body body boots boots ."
  ". gloves gloves belt belt boots boots .";

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }

    svg {
      path {
        stroke: currentColor;
      }
    }
  }
}