.socketsWrapper {
  display: flex;
  align-items: center;
}

.socket {
  display: block;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  position: relative;
  background: var(--primary-bg);
  margin-right: 1em;
  border: 2px solid var(--secondary-color);

  &:last-child {
    margin-right: 0;
  }


  &:not(.last):after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 2em;
    height: 1px;
    background: var(--secondary-color);
  }
}

.primary {
  height: 2.5em;
  width: 2.5em;
  border-radius: 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: calc(-.15em - 2px);
    left: calc(-.15em - 2px);
    background: var(--primary-bg);
    width: calc(100% + .3em + 4px);
    height: calc(100% + .3em + 4px);
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
  }
}