.loader {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: var(--z-index-1);
}

.videoWrapper,
.video {
  position: relative;
  width: 800px;
}

.videoWrapper {
  height: 450px;
  overflow: hidden;
  box-shadow: 0 5px 20px black;
}

.video {
  transform: scale(1.35);
  z-index: var(--z-index-10);
}