.missingContent {
  position: absolute;
  top: calc(50%);
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
  color: orangered;

  a {
    display: inline-flex;

    span {
      border-bottom: 1px solid transparent;
      transition: all ease .4s;
    }

    &:link, &:active, &:hover, &:visited, path {
      color: var(--sand500);
      stroke: var(--sand500);
      text-decoration: none;
    }

    &:hover span {
      border-color: var(--sand500);
    }

    svg {
      transform: scale(.8);
    }
  }
}