.createQNA {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid var(--secondary-color);
}

.inputWrapper {
  display: flex;
  width: 100%;

  textarea {
    width: inherit;
    resize: vertical;
    min-height: 30px;
    height: 30px;
    max-height: 100px;
  }
}

.createQNAfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}