.skillsRow {
  border-top: 1px solid var(--secondary-color);
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    transition: var(--transition-theme);

    &-track {
      background: var(--secondary-bg);
    }

    &-thumb {
      background: var(--primary-color);
    }
  }
}

.skillWrapper {
  display: flex;
  flex-direction: column;

  svg {
    width: 100px;
    height: 100px;
  }
}

.slotWrapper {
  display: flex;
  justify-content: space-between;
}

.inputsWrapper {
  display: flex;
}

.ordinalNumberWrapper {
  display: flex;

  span {
    color: var(--secondary-color);
  }
}

.divider {
  border-bottom: 1px solid var(--secondary-color);
}

.ordinalNumberHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ordinalNumber {
  box-shadow: 0 2px 10px black;
  margin-right: 1em !important;

  &:last-child{
    margin-right: 0 !important;
  }
}

