.body {
  display: flex;
  flex-direction: column;
  height: calc(1000px - 39px - 34px - 34px - 4em);
}

.slots {
  display: flex;
}

.slot {
  min-width: 100px;
  height: 100px;

  button {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  svg {
    width: 100px;
    height: 100px;
    path {
      fill: currentColor;
    }
  }
}

.footer {
  display: flex;
  border-top: 1px solid var(--secondary-color);
  justify-content: flex-end;
}