.abilityName,
.aboutAbility,
.tip {
  position: absolute;
  z-index: var(--z-index-100);
  background: var(--gray700);
  border: 1px solid var(--gray300);
  box-shadow: 0 5px 20px black;
}


.abilityName{
  left: -1rem;
  top: -1rem;
  font-size: var(--font-size-lg);
  min-width: 80px;
}

.aboutAbility {
  display: flex;
  flex-direction: column;
  left: 750px;
  top: 90px;
  width: fit-content;
  max-width: 400px;
}

.tip {
  bottom: 0;
  left: 400px;
  transform: translate(calc(-50% - 2px), calc(50% - 2px));
  min-width: 120px;
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(to bottom, var(--gray700) 54%, transparent);
  box-shadow: none;
  border: 1px solid var(--gray300);
  border-image:
          linear-gradient(
                          to bottom,
                          var(--gray300) 50%,
                          transparent
          ) 1 100%;
  border-top: 1px solid var(--gray300);
  border-bottom: none;

  &:after {
    position: absolute;
    content: '';
    height: 1px;
    top: -1px;
    background: var(--gray300);
    width: calc(100% + 2px);
    left: -1px;
  }
}

.abilityLabel {
  margin-top: -30px;
  position: absolute;
  display: block;
  font-size: 16px;
  left: -10px;
  color: var(--gray300);
  z-index: 10000;
  background: linear-gradient(to bottom, var(--gray900) 50%, var(--gray700) 66%, var(--gray700) 62%);
  padding: 0 5px;
}

.tipLabel {
  position: absolute;
  left: 50%;
  /* z-index: 10000; */
  transform: translate(-50%);
  margin-top: -36px;
  /* background: var( --gray700); */
  padding: 0 5px;
  color: var( --gray300);
  font-size: 25px;
  bottom: -36px;
  text-transform: lowercase;
  opacity: .4;
}

.missingContent {
  position: relative !important;
  transform: initial !important;
}