.titleWrapper {
  display: flex;

  h2 {
    margin-right: 1rem;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    &:not(:last-child):after {
      content: '•';
      margin-left: 1rem;
      color: var(--tertiary-bg);
      font-size: var(--font-size-xs);
    }
  }
}

.author {
  color: var(--tertiary-bg);
}

.input {
  background: none;
  color: var(--primary-color);
  border: 0;
  border-bottom: 1px solid ;
  outline: 0;
}

.activeInput {
  color: var(--tertiary-bg)
}

.link {
  &:visited,
  &:hover,
  &:link,
  &:active {
    color: var(--tertiary-bg);
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }

  &:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.active {
  &:visited,
  &:hover,
  &:link,
  &:active {
    color: var(--primary-color);
  }
}
