.container {
  h3, p, span {
    font-family: var(--global-font-fontin);
  }
  @media (min-width: 62em) {
    flex-flow: unset;
  }
}

.sand {
  background: linear-gradient(to top right, color-mix(in srgb, var(--mantine-color-dimmed) 10%, transparent), color-mix(in srgb, var(--mantine-color-sand-1) 30%, transparent));
  span {
    color: var(--mantine-color-sand-2);
  }
}

.red {
  background: linear-gradient(to top right, color-mix(in srgb, var(--mantine-color-dimmed) 10%, transparent), color-mix(in srgb, var(--mantine-color-red-5) 30%, transparent));
  span {
    color: var(--mantine-color-red-2);
  }
}

.teal {
  background: linear-gradient(to top right, color-mix(in srgb, var(--mantine-color-dimmed) 10%, transparent), color-mix(in srgb, var(--mantine-color-teal-4) 30%, transparent));
  span {
    color: var(--mantine-color-teal-2);
  }
}