.selectWrapper {
  width: 100%;
  position: relative;
}

.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  width: 100%;
  background: transparent;
  outline: 0;
  border: 0;
  color: var(--primary-color);
  border-bottom: 1px solid var(--tertiary-bg);
  padding-right: 30px;

  &::placeholder {
    color: var(--tertiary-bg)
  }

  &:focus {
    border-color: var(--primary-color);
  }
}

.icon {
  position: absolute;
  right: 0;
  outline: 0;

  path {
    stroke: var(--tertiary-bg);
  }
}

.iconActive {
  path {
    stroke: var(--primary-color)
  }
}

.items {
  width: 100%;
  max-height: 120px;
  overflow: auto;
  background: var(--secondary-bg);
  position: absolute;

  &::-webkit-scrollbar {
    width: 8px;
    transition: var(--transition-theme);

    &-track {
      background: var(--secondary-bg);
    }

    &-thumb {
      background: var(--primary-color);
    }
  }
}

.item {
  color: var(--tertiary-bg);
  cursor: pointer;

  &:hover {
    color: var(--primary-color)
  }
}

.itemDisabled {
  color: var(--secondary-color);
  cursor: not-allowed;

  &:hover {
    color: var(--tertiary-bg)
  }
}