.faqItem {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-bg);

  > div {
    &:first-child {
      width: 100%;
      word-break: break-word;
    }
  }

  &:last-child {
    margin: 0;
  }

  em {
    display: flex;
    border-left: 2px solid var(--tertiary-bg);
    color: var(--tertiary-bg);
  }


}

.menu {
  cursor: pointer;
  display: flex;

  path {
    fill: var(--tertiary-bg)
  }

  &:hover {
    background: var(--secondary-color);
    path {
      fill: var(--primary-color)
    }
  }
}