.categories {
  overflow: auto;
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
  "gems-actives gems-supports"
  "gems-actives gems-auras"
  "gems-actives gems-curses";

  &::-webkit-scrollbar {
    width: 4px;

    &-track {
      background: var(--secondary-color);
    }

    &-thumb {
      background: var(--primary-color);
    }
  }
}

.cta,
.attributeButtons{
  display: flex;
}

.cta {
  justify-content: space-between;
}