html {
  --primary-color: #e6e2af;
  --secondary-color: #3e3e34;
  --pink800: #702459;

  --primary-bg: #181818;
  --secondary-bg: #212121;
  --tertiary-bg: #aaaaaa;

  /**
   * Messages
   */
  --message-info-bg-primary: #1a237e;
  --message-info-bg-secondary: var(--primary-bg);
  --message-info-color: #90caf9;

  --message-success-bg-primary: #1b5e20;
  --message-success-bg-secondary: var(--primary-bg);
  --message-success-color: #a5d6a7;

  --message-warning-bg-primary: #e65100;
  --message-warning-bg-secondary: var(--primary-bg);
  --message-warning-color: #ffe0b2;

  --message-error-bg-primary: #b71c1c;
  --message-error-bg-secondary: var(--primary-bg);
  --message-error-color: #ffcdd2;

}

html:not(.dark) {
  --primary-color: #513C06;
  --secondary-color: #e2d4aa;
  --pink800: #702459;

  --primary-bg: #FFFAEB;
  --secondary-bg: #FCEFC7;
  --tertiary-bg: #C99A2E;

  /**
   * Messages
   */
  --message-info-bg-primary: #1a237e;
  --message-info-bg-secondary: #1a237e;
  --message-info-color: #90caf9;
}