@use '@exile-watch/writ-react/dist/main.css';

#__next {
  height: 100%;
  overflow: hidden;
  position: relative;
}

html {
  color: var(--primary-color);
}

.theme-transition-scope {
  transition: var(--transition-theme);
}