.header {
  font-family: var(--global-font-fontin);
  background: color-mix(in srgb, var(--mantine-color-dimmed) 10%, transparent);

  @media (max-width: 64em) {
    backdrop-filter: blur(50px);
  }
}

.link {
  text-decoration: none;
}

.icons {
  a {
    display: flex;
  }
}

.logoContainer {
  width: calc(250px - var(--mantine-spacing-xs))
}

.rightContainer {
  width: calc(100% - 250px - var(--mantine-spacing-xs));
  height: 100%;
}