.inactive {
  display: none;
}

.active {
  display: flex;
  flex-direction: column;

  max-height: 800px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;

    &-track {
      background: var(--sand900);
    }

    &-thumb {
      background: var(--sand500);
    }
  }
}

.category {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    height: calc(100% - 26px);
    top: 26px;
    width: 1px;
    background: var(--sand500);
    left: calc(1rem + 1.5px);
  }

  &:first-child {
    h5 {
      margin-top: 0 !important;
    }
  }
}

.categoryTitle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrowIcon {
  transition: all ease 0.2s;
  transform: scale(0.7);

  path {
    stroke: var(--sand500);
  }
}

.arrowIconActive {
  transform: rotate(90deg) scale(0.7);
}

.firstChar {
  font-size: var(--font-size-md);
  text-align: center;
  position: relative;
  color: var(--sand500);
  background: var(--gray700);
  transition: var(--transition-theme);

  span {
    position: relative;
    background: var(--gray700);
    transition: background ease .4s;
  }

  &:before {
    position: absolute;
    content: '';
    height: 1px;
    background: var(--sand500);
    width: calc(100% - 2rem - 2px);
    left: calc(1rem + 2px);
    top: 50%;
  }
}

.boss {
  display: block;
  border-left: 4px solid transparent;
  text-decoration: none;
  transition: all ease 0.4s;

  span {
    border: 1px solid transparent;
  }

  &:active,
  &:hover,
  &:link,
  &:visited {
    color: var(--gray300);
  }

  &:hover {
    span {
      color: var(--sand500);
      border-bottom-color: var(--sand500);
    }
  }
}

.activeBoss {
  background: var(--sand900);
  border-color: var(--sand500);

  &:active,
  &:hover,
  &:link,
  &:visited {
    color: var(--sand500);
  }
}
