.abilitiesWrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;

  &::-webkit-scrollbar {
    width: 8px;
    transition: var(--transition-theme);

    &-track {
      background: var(--gray700);
    }

    &-thumb {
      background: var(--sand500);
    }
  }
}

.abilities {
  max-width: 1600px;
  width: inherit;
}
