.sections {
  display: flex;
}

.editorSectionWrapper {
  width: 400px;
  height: 500px;
}

.heading {
  position: relative;

  &:before {
    width: calc(100% - 1em);
    height: 1px;
    position: absolute;
    content: '';
    background: var(--primary-color);
    top: calc(50% + 1px);
  }

  span {
    position: relative;
    background: var(--primary-bg);
    padding-right: 1em;
  }
}