.sections {
  display: grid;
  grid-template-columns: 400px 400px 400px 400px 1fr 1fr;
  grid-template-rows: minmax(min-content, 300px) 300px 300px 300px;
  gap: 1em 1em;
  grid-template-areas:
    "introduction concept pros-and-cons benchmarks-videos passives-tree passives-tree"
    "introduction concept detrimental-map-mods benchmarks-videos passives-tree passives-tree"
    "changelog faq skills gear gear ascendancy-tree"
    "kudos faq bandits gear gear pantheon";
  overflow: auto;
  height: calc(100% - 60px - 3em);
}

.heading {
  position: relative;
  border-bottom: 1px solid var(--secondary-color)
}