.sections {
  display: flex;
}

.editorSectionWrapper {
  width: 400px;
  height: 500px;
  border: 1px solid white;
}

.heading {
  position: relative;

  &:before {
    width: 100%;
    height: 1px;
    position: absolute;
    content: '';
    background: var(--primary-color);
  }
}