$gradient_degree: 135deg;

.container {
  border: 1px solid;
  display: flex;
  align-items: center;

  path {
    fill: currentColor;
  }
}

.small {
  font-size: var(--font-size-sm);

  svg {
    transform: scale(.8)
  }

  p {
    border-left: 1px solid;
  }
}

.info {
  background: linear-gradient($gradient_degree, var(--message-info-bg-primary), var(--message-info-bg-secondary));
  border-color: var(--message-info-color);
  color: var(--message-info-color);
}

.locked {
  background: linear-gradient($gradient_degree, var(--message-locked-bg-primary), var(--message-locked-bg-secondary));
  border-color: var(--message-locked-color);
  color: var(--message-locked-color);
}

.success {
  background: linear-gradient($gradient_degree, var(--message-success-bg-primary), var(--message-success-bg-secondary));
  border-color: var(--message-success-color);
  color: var(--message-success-color);
}

.warning {
  background: linear-gradient($gradient_degree, var(--message-warning-bg-primary), var(--message-warning-bg-secondary));
  border-color: var(--message-warning-color);
  color: var(--message-warning-color);
}

.error {
  background: linear-gradient($gradient_degree, var(--message-error-bg-primary), var(--message-error-bg-secondary));
  border-color: var(--message-error-color);
  color: var(--message-error-color);
}

